{{define "nav"}}
<p>
  <a href="/">Home</a> |
  <a href="/ui/sites">Sites</a> |
  <a href="/ui/nodes">Nodes</a> |
  <a href="/ui/config-versions">Config Versions</a> |
  <a href="/ui/config-deployments">Config Deployments</a> |
  <a href="/ui/binary-artefacts">Binary Artefacts</a> |
  <a href="/ui/binary-deployments">Binary Deployments</a>
</p>
<hr>
{{end}}
