{{define "nav"}}
<p>
  <a href="/">Home</a> |
  <a href="/ui/sites">Sites</a> |
  <a href="/ui/nodes">Nodes</a> |
  <a href="/ui/config-versions">Config Versions</a> |
  <a href="/ui/config-deployments">Config Deployments</a> |
  <a href="/ui/update-artefacts">Update Artefacts</a> |
  <a href="/ui/update-deployments">Update Deployments</a>
</p>
<hr>
{{end}}
